---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;

/* Override content width */
.wrapper {
  max-width: 1200px;   /* or try 900px, 1200px, etc. */
  margin: 0 auto;      /* center the content */
  padding: 0 20px;     /* some side padding for breathing room */
}
