<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ '/assets/css/academicons.css' | relative_url }}"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon-180x180.png' | relative_url }}"/>
<link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | relative_url }}"/>
<link rel="icon" type="image/png" href="{{ '/images/favicon-32x32.png' | relative_url }}" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ '/images/favicon-192x192.png' | relative_url }}" sizes="192x192"/>
<link rel="manifest" href="{{ '/images/manifest.json' | relative_url }}"/>
<link rel="icon" href="{{ '/images/favicon.ico' | relative_url }}"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
